* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    height: 100%;
}

.wrapper {
    max-width: calc(100% - 20px);
    margin: 0 auto;
    z-index: 2;
}

.body__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(image/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -2;
}

.body__bg:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(225, 229, 219, 0.825);
}

.title {
    font-size: 42px;
    font-weight: 700;
    text-align: center;
    padding: 50px 0px 25px;
}

.question {
    font-size: 25px;
    margin: 2px;
    text-align: center;
}

.answers {
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.answer {
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #ccc;
    color: #444;
    font-size: 22px;
    width: 600px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.answer:hover {
    background-color: #9f9a9abd;
    color: #fff;
    cursor: pointer;
}

#result {
    height: 110px;
}

.correct {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;
    font-size: 25px;
    padding: 20px 0px;
    border-radius: 20px;
    background-color: #30cf6a;
}

.incorrect {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;
    font-size: 25px;
    padding: 20px 0px;
    border-radius: 20px;
    background-color: #ef4b4b;
}

.results {
    padding-top: 40px;
}

.userName {
    font-weight: bold;
}

.resultsQuestions {
    padding-top: 10px;
    color: #060d6e;
}

.resultCorrect {
    padding-top: 10px;
    color: #0b993f;
}

.resultIncorrect {
    padding-top: 10px;
    color: #ef4b4b;
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #ccc;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: #ccc;
    color: #fff;
}

.popup__visible {
    position: fixed;
    z-index: 999;
    background-color: #fff;
    border: 5px solid #ccc;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    width: 500px;
    height: 220px;
    text-align: center;
    visibility: visible;
    z-index: 999;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

@media (max-width: 770px) {
    .title {
        font-size: 32px;
        padding: 30px 0 20px;
    }
    .question {
        font-size: 20px;
    }
    .answers {
        padding: 15px 0px;
    }
    .answer {
        margin: 10px;
        font-size: 20px;
    }
    #result {
        height: 80px;
    }
    .correct,
    .incorrect {
        height: 80px;
        font-size: 20px;
    }
    .results {
        padding-top: 20px;
    }
}

@media (max-width:550px) {
    .popup__visible {
        width: 380px;
        height: 260px;
    }
}

@media (max-width: 430px) {
    .title {
        font-size: 30px;
        padding: 27px 0 18px;
    }
    .question {
        font-size: 18px;
    }
    .answers {
        padding: 13px 0px;
    }
    .answer {
        margin: 10px;
        font-size: 18px;
    }
    .answer:hover {
        background-color: #fff;
        color: #444;
    }
    .answer:active {
        background-color: #9f9a9abd;
        color: #fff;
    }
    #result {
        height: 70px;
    }
    .correct,
    .incorrect {
        height: 70px;
        font-size: 18px;
    }
    .results {
        padding-top: 20px;
    }
}

@media (max-width: 380px) {
    .title {
        font-size: 22px;
        padding: 20px 0 15px;
    }
    .question {
        font-size: 18px;
    }
    .answers {
        padding: 12px 0px;
    }
    .answer {
        margin: 8px;
        font-size: 15px;
    }
    #result {
        height: 65px;
    }
    .correct,
    .incorrect {
        height: 65px;
        font-size: 15px;
    }
    .results {
        padding-top: 20px;
        font-size: 12px;
    }
    .popup__visible {
        width: 320px;
        height: 260px;
    }
}